.stats{
  margin-top:10px;
  font-size:small;
  color: dark;
  /* margin-left: 40px; */
  display:inline-flex;
  flex-direction: row;
  /* gap:10px; */
  justify-content: space-between;
  align-items:center;
  align-content: center;
  margin-bottom: 5px;
  flex-grow: 2;
}

.stat-item {
  margin-left: 85px;
  /* display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; */
}

/* .second-stat{
  margin-left: 5px;
} */